<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magento_Backend::content_elements">
                        <resource id="Windigo_Blog::blog" title="Blogs" sortOrder="100">
                            <resource id="Windigo_Blog::blog_save" title="Save Blog" sortOrder="10" />
                            <resource id="Windigo_Blog::blog_delete" title="Delete Blog" sortOrder="20" />
                        </resource>
                        <resource id="Windigo_Blog::post" title="Posts" sortOrder="110" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
